ipython
scipy
matplotlib
numpy
pandas
xarray

sphinx==8.1.2
recommonmark
numpydoc
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
nbsphinx-link
sphinx-automodapi
nbconvert
pandoc
flake8
gitpython
pygithub
