ipython==7.14.0
scipy
matplotlib
numpy
pandas>=0.25.3

sphinx==7.0.0
recommonmark
numpydoc
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
nbsphinx-link
sphinx-automodapi
nbconvert
pandoc
flake8
gitpython
pygithub
