ipython
scipy
matplotlib
numpy
pandas
xarray

sphinx
recommonmark
numpydoc==1.2.1
nbsphinx
git+https://github.com/pandas-dev/pydata-sphinx-theme.git@master
nbsphinx-link
sphinx-automodapi
nbconvert
pandoc
flake8
gitpython
pygithub
